/* cspell: disable*/
@import "tailwindcss";

/* --- CSS Customizado --- */
:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  /* Modo Escuro Profundo */
  color-scheme: dark;
  color: #ffffff; /* Branco puro para contraste máximo */
  background-color: #020617; /* Slate-950 (Fundo original) */

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
  background-color: #020617; /* Garante fundo Slate-950 */
}

/* Links e Botões */
a {
  font-weight: 500;
  color: white; /* Indigo-500 */
  text-decoration: inherit;
}
a:hover {
  color: #818cf8; /* Indigo-400 */
}

h1 {
  font-size: 2.2em;
  line-height: 1.1;
}

button {
  cursor: pointer;
}
